textarea {
    resize: none;
}

.blockSendMessage {
    margin-top: 20px;

    textarea {
        width: 85%;
    }
}

.blockUserMessage {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
    margin-top: 10px;

    img {
        border-radius: 15px;
    }
}