.profile {
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 42px 62px;

    @media screen and (max-width: 768px) {
        padding: 15px 10px;
      }

    .info {
        display: grid;
        grid-gap: 35px;
        grid-template-columns: 3fr 4fr;

        @media screen and (max-width: 768px) {
        padding: 15px 10px;
        grid-template-columns: 1fr;
        text-align: center;
      }

        .inputChangeImage {
            height: 23px;
width: 172px;
        }

        img {
            width: 100%;
            border-radius: 15px;
        }

        .advanceInfoProfile {
            width: 100%;
        }

        div {
            button {
                font-size: 12px;
                padding: 5px 20px;          
                margin-top: 10px;
            }

            h2 {
                font-size: 30px;
                font-weight: 900;

                @media screen and (max-width: 768px) {
                    font-size: 20px;
                  }
            }

            div {
                font-size: 14px;
                margin-bottom: 15px;
            
                .contactLinks::first-letter {
                    text-transform: capitalize;
                }

                span {
                    color: #838383;
                }
            }
        }
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
        grid-gap: 10px;
        grid-auto-rows: auto;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
          }

        div {
            background-color: #DCDCDC;
            text-align: center;
            font-weight: 900;
            transition: 0.5s;
            color: black;
            font-size: 14px;
            border-radius: 10px;
            padding: 10px 20px;
            cursor: pointer;


        }

        :hover {
            background-color: #e9e9e9;
        }
    }

    .inputStatus {
        border-radius: 5px;
        border: 1px solid transparent;
        padding: 5px;
        background: #DCDCDC;
    }

    .hoverStatus {
        padding: 5px;
    }

    .hoverStatus:hover {
        cursor: pointer;
        background-color: #e9e9e9;
        border-radius: 5px;
        width: fit-content;
    }
}

.posts {
    margin-top: 30px;

    .addPost {
        display: grid;
        grid-template-columns: 1fr 12fr;
        background-color: #F0F0F0;
        border-radius: 15px;
        padding: 10px 10px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 12fr;
          }

        img {
            height: 43px;
            border-radius: 15px;

            @media screen and (max-width: 768px) {
                display: none;
              }
        }

        form {
            display: grid;
            grid-template-columns: 10fr 4fr;
            grid-gap: 20px;

            @media screen and (max-width: 768px) {
                grid-template-columns: 10fr 6fr;
              }

            
            input {
                float: none;
                margin: 0;
                padding: 0;
                padding-left: 10px;
                width: 100%;
                height: 42px;
            }

            
        }        

        span {
            position: absolute;
        }

        button {
            padding: 13px 25px;
            font-size: 13px;
            border-radius: 10px;
            cursor: pointer;
            
        }
    }

    .postItem {
        display: block;
    }
}
