.users {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 6fr;

    img {
        width: 100%;
    }
}

.usersforminput {
    width: 90%;
}


.form_search {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 7fr 1fr 1fr;

    .selectFollow {
        padding: 13px 15px 13px;
        border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    }
}



span {
    cursor: pointer;
    
}

.selected {
    font-weight: bold;
}