.users {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 10px;
    margin: 15px 0px;

    img {
        width: 80px;
    }

    .blockButton {
        
        a, button {
            margin-right: 10px;
            margin-top: 10px;
            font-size: 14px;
            padding: 5px 20px;
        }
    }
}

.usersforminput {
    width: 90%;
}


.form_search {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 7fr 1fr 1fr;

    @media screen and (max-width: 768px) {
        grid-gap: 5px;
grid-template-columns: 7fr 3fr 1fr;
      }

    .selectFollow {
        padding: 13px 15px 13px;
        border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    }
}

.pagination {
    margin-top: 15px;
}

span {
    cursor: pointer;
    
}

.selected {
    font-weight: bold;
}