.header {
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-gap: 10px;
    text-align: end;
    margin-top: 1em;

    p {
        margin-top: 7px;
    }

    button {
        margin-right: 10px;
    }
}