.dialogItem_user {
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin:15px 0px;

    img {
        border-radius: 15px;
        width: 60px;
    }
}



.blockSendMessage {
    margin-top: 15px;

    .inputMessage {
        width: 85%;
    }
}